
	html {
        box-sizing: border-box;
        font-size: 12px;
    }

    body {
        font-family: "Roboto Mono", monospace;
        margin: 0;
        background-color: var(--background-color);
        color: var(--base-text-color);
    }

    table {
        border-spacing: 0.5rem;
    }

    .cell {
        border: 0px solid rgb(255, 255, 255);
        padding:10px;
        background: linear-gradient(225deg, #ffffff, #e6e6e6);
        box-shadow: -5px 5px 10px1 #999999,
                    5px -5px 10px #ffffff;
    }

    .cell:hover {
        background: linear-gradient(225deg, #e6e6e6, #ffffff);
        box-shadow: -5px 5px 10px #999999,
                    5px -5px 10px #ffffff;
    }
	